<footer class="footer bg-dark py-3 mt-auto">
    <div class="mx-4">
        <span class="text-muted">Location Records</span>
    </div>
    <div class="mx-4">
        <span class="text-muted">Image courtesy: <a class="text-muted" href="https://unsplash.com/@whoishimesh">Himesh Kumar Behera</a></span>
    </div>
</footer>