<nav class="navbar sticky-top navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
        
        <a class="navbar-brand mx-3" href="/">HOME</a>
        
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        
        <div class="collapse navbar-collapse " id="navbarSupportedContent">

            
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <% if (username !== 'anonymous') { %>
                <li class="nav-item">
                    <a class="nav-link active" href="/projects/<%= projectId %>/areas/new">Add New Area</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" href="/projects/<%= projectId %>/cities/new">Add New City</a>
                </li>
                <% } %>
            </ul>

            <ul class="navbar-nav mr-auto mb-2 mb-lg-0">

                <% if (username === 'anonymous') { %>
                    <li class="nav-item">
                        <a class="nav-link active" href="/users/login">Login</a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link active" href="/users/new">Register</a>
                    </li>
                <% } else { %>
                    <li class="nav-item">
                        <a class="nav-link disabled" href="#" aria-disabled="true"><%= username %></a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link active" href="/users/logout">Logout</a>
                    </li>
                <% } %>

            </ul>    
            
        </div>            

    </div>
</nav>