<nav class="navbar sticky-top navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand mx-3" href="#">Region Info</a>

    <div class="collapse navbar-collapse d-flex justify-content-between" id="navbarSupportedContent">
        
        <div class="navbar-nav mr-auto d-flex"></div>

        <div class="navbar-nav mr-auto d-flex">
            <div class="nav-item">
                <a class="nav-link active" href="/login">Login</a>
            </div>
            <div class="nav-item active">
                <a class="nav-link active" href="/logout">Logout</a>
            </div>
            <form class="form-inline my-2 my-lg-0 d-flex flex-row">
                <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-light mx-2" type="submit">Search</button>
            </form>
        </div>

    </div>
</nav>