html, body {
    height: 100%;
}

.footer {
    bottom: 0;
}

.row {
    display: flex;
}

.form-box {
    margin-top: 15px;
}

input[id="collection[color]"] {
    width: 100%;
    height: 38px;
}

details[open] summary ~ * {
    animation: sweep .3s ease-in-out;
}

summary {
    outline: none;
    margin-left: -15px;
}

@media (min-width: 1200px) {
    .card {
        min-height: 480px;
    }
}

@keyframes sweep {
    0%    {opacity: 0; margin-left: -1px}
    100%  {opacity: 1; margin-left: 0px}
}

#misplaced-delete-form {
    position: relative;
    top: -38px;
    float: right;
}