<% layout('layout/boilerplate.ejs') %>

    <div class="row">
        <div class="col-xl-8 offset-xl-2">

            <h1>Add New Collection to "<%= project.name %>"</h1>

            <form method="POST" action="/projects/<%= projectId %>/collections/new" class="needs-validation" novalidate>

                <div class="card w-100">
                    <div class="card-body" id="region-info">

                        <div class="form-box">
                            <label for="collection[name]">Name</label>
                            <input class="form-control" type="text" id="collection[name]" name="collection[name]" required>
                        </div>

                        <div class="row">
                            <div class="col-sm-9">
                                <div class="form-box">
                                    <label for="collection[code]">Code</label>
                                    <input class="form-control" type="text" id="collection[code]" name="collection[code]" required>
                                </div>collection                         </div>

                            <div class="col-sm-3">
                                <div class="form-box">
                                    <label for="collection[color]">Color</label>
                                    <input class="form-control" type="color" value="#ff0000"
                                        id="collection[color]" name="collection[color]" required>
                                </div>
                            </div>
                        </div>

                        <div class="form-box">
                            <label for="collection[quickInfo]">Short note that will appear on mouse hover</label>
                            <textarea class="form-control" id="collection[quickInfo]" name="collection[quickInfo]"></textarea>
                        </div>

                        <div class="form-box">
                            <label for="collection[General Information]">General Information</label>
                            <div id="collection[General Information]"></div>
                        </div>

                    </div>
                </div>

                <div class="mt-3">
                    <button type="submit" class="btn btn-outline-secondary w-100">Submit</button>
                </div>
            </form>

        </div>
    </div>


    <script>
        const genInfoRootHtml = document.getElementById('collection[General Information]');
        showGenInfoInitForEdit(genInfoRootHtml);
    </script>