<% layout('layout/boilerplate.ejs') %>

    <h1>Add New Area</h1>

    <div class="row">
        <div class="col-xl-8 pt-5">

            <form method="POST" action="/areas/new" class="needs-validation" novalidate>

                <div class="card w-100">
                    <div class="card-body" id="region-info">

                        <div class="form-box">
                            <label for="area[name]">Area Name</label>
                            <input class="form-control" type="text" id="area[name]" name="area[name]" required>
                        </div>

                        <div class="row">
                            <div class="col-sm-9">
                                <div class="form-box">
                                    <label for="area[code]">Area Code</label>
                                    <input class="form-control" type="text" id="area[code]" name="area[code]" required>
                                </div>
                            </div>

                            <div class="col-sm-3">
                                <div class="form-box">
                                    <label for="area[color]">Area Color</label>
                                    <input class="form-control" type="color" value="#ff0000"
                                        id="area[color]" name="area[color]" required>
                                </div>
                            </div>
                        </div>

                        <div class="form-box">
                            <label for="city[quickInfo]">Short note</label>
                            <textarea class="form-control" id="area[quickInfo]" name="area[quickInfo]"></textarea>
                        </div>

                        <div class="form-box">
                            <label for="area[generalInfo]">General Information</label>
                            <div id="area[generalInfo]"></div>
                        </div>

                    </div>
                </div>

                <div class="mt-3">
                    <button type="submit" class="btn btn-outline-secondary">Submit</button>
                </div>
            </form>

        </div>
    </div>


    <script>
        const genInfoRootHtml = document.getElementById('area[generalInfo]');
        const mapBoxToken = '<%= process.env.MAPBOX_TOKEN %>';
    </script>
    <script src="/js/jsonUtils.js"></script>
    <script src="/js/textUtils.js"></script>
    <script src="/js/btnUtils.js"></script>
    <script src="/js/addInfo.js"></script>