<% layout('layout/boilerplate.ejs') %>

    <div class="row">
        <div class="col-xl-8 offset-xl-2">

            <h1 class="my-5">Register</h1>

            <form method="POST" action="/users/new" class="needs-validation" novalidate>

                <div class="card w-100">
                    <div class="card-body" id="region-info">

                        <div class="form-box">
                            <label for="user[username]">Username</label>
                            <input class="form-control" type="text" id="user[username]" name="user[username]" required>
                        </div>

                        <div class="form-box">
                            <label for="user[password]">Password</label>
                            <input class="form-control" type="password" id="user[password]" name="user[password]" required>
                        </div>

                        <div class="form-box" style="display: none">
                            <label for="user[email]">Email</label>
                            <input class="form-control" type="text" id="user[email]" name="user[email]" 
                                value="user@example.com" required>
                        </div>

                        <div class="form-box">
                            <label for="user[projectToken]">Default Project Token</label>
                            <input class="form-control" type="hidden" id="user[projectToken]" name="user[projectToken]" required>
                            <p class="text-muted" id="user-project-token"></p>
                        </div>

                    </div>
                </div>

                <div class="mt-3">
                    <button type="submit" class="btn btn-outline-secondary w-100">Submit</button>
                </div>
            </form>

        </div>
    </div>

<script>
    const tokenPHtml = document.getElementById('user-project-token');
    const tokenInptHtml = document.getElementById('user[projectToken]');

    window.addEventListener('load', function() {
        const token = getToken(64);
        tokenPHtml.innerText = token;
        tokenInptHtml.value = token;
    })
</script>